*::before, *::after, *{ 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.kanban-container {
  display: flex;
}

.list-container {
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 93%);
  border-radius: 0.5rem;
  gap: 0.5rem;
  width: 350px;
  margin: 1rem;
  padding: 0.5rem 1rem;
  height: max-content;

  textarea {
    font-family: sans-serif;
    font-weight: 600;
    background-color: hsl(0, 0%, 93%);
    resize: none;
    border: none;
    padding: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
    height: 2rem;
  }

  textarea:focus {
    background-color: hsl(0, 0%, 97%);
  }

  p {
    font-size: 0.85rem;
    background: white;
    border-radius: 0.25rem;
    padding: 0.5rem 0.75rem;
    cursor: pointer;

    &:last-child{
      background: hsl(0, 0%, 93%);
      cursor: pointer;
      color:hsl(0, 0%, 50%);
      text-align: center;
    }

    &:last-child:hover {
      background: hsl(0, 0%, 90%);
    }
  }
}

.selected-note-modal {
  opacity: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.2);
  animation: fade-in 200ms ease-in-out forwards;
}

.selected-note-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 1.25rem 2rem;
  width: 400px;
  height: 200px;
  background: white;
  border-radius: 0.5rem;
  animation: move-up 300ms ease-out forwards;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes move-up {
  0% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}